@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Museo Sans Light", sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 550px;
    width: 95%;
  }
}

@media (max-width: 425px) {
  .container {
    width: 420px;
    width: 90%;
  }
}

@media (max-width: 375px) {
  .container {
    width: 340px;
    width: 95%;
  }
}

@media (max-width: 320px) {
  .container {
    width: 300px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 29px 17px 29px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #EFA94A;
}

.button:active {
  background-color: #ED760E;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px 25px;
  border-radius: 10px;
  font-size: 15px;
}

.navbar {
  padding: 5px 0px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  margin-top: 3px;
}

.navbar__button {
  margin-left: 30px;
  margin-bottom: 5px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 6px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
}

@media (max-width: 425px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__logo {
    width: 40%;
  }
  .navbar__button {
    margin-bottom: 0px;
  }
}

/*             padding: 15px 26px
            font-size: 10px */
@media (max-width: 375px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__logo {
    width: 35%;
  }
  .navbar__button {
    margin-bottom: 0px;
  }
}

/*             padding: 15px 26px
            font-size: 10px */
@media (max-width: 320px) {
  .navbar__logo {
    width: 30%;
  }
  .navbar__button {
    padding: 15px 25px;
    font-size: 10px;
  }
}

.hero {
  padding: 50px 0px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  /* padding-right: 145px */
}

.hero-text__title {
  font-size: 40px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 39px;
  letter-spacing: 0.5px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 70px;
  letter-spacing: 0.9px;
}

.hero-list {
  margin: 0px;
  padding: 0px;
}

.hero-list__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.hero-list__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.hero-list__item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-list__img {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 260px;
  line-height: 24px;
  font-size: 14px;
}

.hero-img {
  width: 568px;
  height: 486px;
  -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .hero-text {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    /* padding-right: 60px */
  }
  .hero-text__title {
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 43px;
  }
  .hero-text__subtitle {
    font-size: 13px;
    margin-bottom: 35px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__img {
    margin-right: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 200px;
  }
  .hero-img {
    width: 480px;
    height: 334px;
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .hero-text__title {
    width: 300px;
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 43px;
  }
  .hero-text__subtitle {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 200px;
    font-size: 16px;
    margin-bottom: 35px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__img {
    margin-right: 20px;
  }
  .hero-list__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    max-width: 200px;
  }
  .hero-img {
    width: 400px;
    height: 334px;
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 425px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .hero-text__title {
    width: 300px;
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 43px;
  }
  .hero-text__subtitle {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 200px;
    font-size: 16px;
    margin-bottom: 35px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__img {
    margin-right: 20px;
  }
  .hero-list__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    max-width: 200px;
  }
  .hero-img {
    width: 350px;
    height: 299px;
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 375px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 0px;
  }
  .hero-text__title {
    width: 300px;
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 43px;
  }
  .hero-text__subtitle {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 200px;
    font-size: 16px;
    margin-bottom: 35px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__img {
    margin-right: 20px;
  }
  .hero-list__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    max-width: 200px;
  }
  .hero-img {
    width: 300px;
    height: 256px;
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
  }
}

.offer {
  padding: 60px 0;
  background-image: url("../img/offer/offer-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer-block__title {
  max-width: 360px;
  line-height: 35px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 19px;
}

.offer-block__subtitle {
  display: block;
  max-width: 250px;
  font-size: 16px;
  margin-bottom: 32px;
  line-height: 18px;
}

.offer__input1 {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input1:first-child {
  margin-right: 10px;
}

.offer__input2 {
  margin-bottom: 30px;
  width: 240px;
  padding: 23px 25px 23px 31px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 25px;
  font-size: 16px;
  padding: 14px 29px 17px 29px;
}

.offer-text__cont1 {
  display: inline-block;
  max-width: 225px;
  line-height: 24px;
  margin-right: 66px;
  font-size: 15px;
}

.offer-text__cont2 {
  display: inline-block;
  max-width: 192px;
  line-height: 24px;
  font-size: 15px;
}

.offer__phone {
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1200px) {
  .offer {
    background-image: none;
  }
  .offer:before {
    display: none;
  }
  .offer-block {
    width: 100%;
    padding-right: 0px;
  }
  .offer-block__title {
    max-width: 760px;
  }
  .offer-block__subtitle {
    max-width: 470px;
    font-size: 20px;
  }
  .offer__button {
    width: 86%;
  }
  .offer__input1 {
    width: 300px;
  }
  .offer__input1:first-child {
    margin-right: 50px;
  }
  .offer__input2 {
    width: 300px;
  }
  .offer-text__cont1 {
    margin-right: 230px;
  }
}

@media (max-width: 768px) {
  .offer {
    background-image: none;
  }
  .offer:before {
    display: none;
  }
  .offer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-right: 0px;
  }
  .offer-block__title {
    max-width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .offer-block__subtitle {
    max-width: 300px;
    font-size: 14px;
    margin-bottom: 27px;
  }
  .offer__button {
    width: 81%;
    padding: 19px 40px 17px 40px;
    margin-bottom: 27px;
  }
  .offer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__input1 {
    width: 300px;
    margin-bottom: 8px;
  }
  .offer__input1:first-child {
    margin-right: 0px;
  }
  .offer__input2 {
    width: 300px;
    margin-bottom: 10px;
  }
  .offer-text__cont1 {
    margin-right: 0px;
    margin-bottom: 12px;
    max-width: 290px;
  }
  .offer-text__cont2 {
    max-width: 289px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer__phone {
    display: block;
    max-width: 140px;
    margin: 0px;
  }
}

@media (max-width: 375px) {
  .offer__button {
    width: 84%;
  }
}

@media (max-width: 320px) {
  .offer__button {
    width: 98%;
  }
}
/*# sourceMappingURL=style.css.map */